<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797387344706-79pd1a0iha4m6scjs9eg53glb151cj4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797387344706-79pd1a0iha4m6scjs9eg53glb151cj4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>797387344706-lt74v63a9br5piv866qcfgnl1hpe86mb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKkH0pSN56mKRIVM48JCFFn4aP-3BV0fI</string>
	<key>GCM_SENDER_ID</key>
	<string>797387344706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>social-app-8e9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-8e9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797387344706:ios:441245a055bfef4baa56db</string>
</dict>
</plist>